
{{> head }}

    <!-- Para usar el parcial navbar-hbs con el navbar usar el símbolo > pegado justo 
    después de las llaves de apertura  -->
    {{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>About: Curso node de cero a Experto</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse maiores iusto perspiciatis aut voluptatibus debitis aspernatur doloremque quas, atque eligendi dolores illo sunt. Fugiat labore veniam assumenda, blanditiis distinctio est.</p>
        </div>
        <div class="col-4">
            <img src="assets/img/nodejs.png" alt="" class="img-thumbnail">
        </div>
    </div>

{{> footer }}
